body {
  font-family: sans-serif;
  box-sizing: border-box;
}

.paragraph {
  font-size: 16px;
  line-height: 26px;
  color: #1f3f68;
}

.heading__1 {
  font-size: 64px;
  color: #1f3f68;
}

.heading__contact {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
}

.heading__3 {
  font-size: 36px;
  text-align: center;
}

.heading__4 {
  font-size: 20px;
  line-height: 30px;
  color: #1f3f68;
}

.contact__form {
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
  width: 350px;
  height: auto;
  padding: 10px;
}

.contact__form__button {
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 122, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
